<div
  class="slideWrapper"
  [style.width.px]="displayService.slideWidth() - displayService.channelGapPx()"
  [style.--cols]="displayService.channelGrid().cols"
  [style.top.px]="displayService.channelGridTopPx()"
  [style.gap.px]="displayService.channelGapPx()"
>
  @for (channel of channels; track $index) {
    <app-channel
      [channel]="channel"
      [isInactiveSlide]="isInactiveSlide"
      [isIntroSlide]="isIntroSlide"
      [introDelay]="isIntroSlide ? introDelays()[$index] : 0"
    />
  }
  @if (channels.length !== 0 && !isIntroSlide) {
    <app-clock />
  }
</div>
