@use "styles.scss" as *;

.slideWrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: grid;

  grid-template-columns: repeat(var(--cols), minmax(0, 1fr));

  justify-content: space-between;
  align-items: center;
  justify-items: center;

  app-channel,
  .channelPlaceholder {
    aspect-ratio: 20 / 11;
    width: 100%;
  }
}
