@use "styles.scss" as *;

#slideDeckWrapper {
  position: relative;

  #slideDeckSvgWrapper,
  #slideDeck,
  .slideDeckSvg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  #slideDeckSvgWrapper,
  #slideDeck {
    will-change: transform;
    backface-visibility: hidden;
    contain: layout paint style;
    pointer-events: none;
    display: flex;
  }

  .slideDeckSvg {
    pointer-events: none;

    .blueBorderLinePath {
      stroke: var(--wiiBlue);
      fill: none;
      stroke-width: relativePx(4);
    }

    .borderShadowPath {
      fill: black;
      opacity: 12%;
    }

    .scanLineWhite {
      fill: var(--scanLineWhite);
    }

    .scanLineGray {
      fill: #e4e4e4;
    }

    .scanLineGradientEnd {
      stop-color: rgba(245, 245, 245, 0);
    }

    .scanLineGradientCenter {
      stop-color: var(--scanLineWhite);
    }
  }

  .transitionEnabled {
    transition: transform var(--slideTransitionDurationMs) ease-in-out;
  }
}
