.timeWrapper {
  position: absolute;
  // TODO: Clean up
  top: calc(8% + 717px + 3%); // 717px = channelGrid height at F11
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  color: #919191;

  .timeCore {
    display: flex;
    font-family: "DigitalDisplay";
    font-size: 8.5rem;
    padding-inline-start: 3.3%;

    .hours,
    .minutes {
      width: 2ch;
      text-align: end;
    }

    .colon {
      display: inline-block;
      width: 1ch;
      text-align: center;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      &.hideColon {
        opacity: 0;
      }
    }
  }

  .amPm {
    position: absolute;
    bottom: 0;
    right: -4ch;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "RodinBokutohBold";
    font-size: 2.5rem;
    line-height: 2rem;
  }
}
