.clockWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 32px;

  .timeContainer {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #919191;
    margin-bottom: 8px;

    .timeCore {
      padding-inline-start: 8px;
      font-family: "DigitalDisplay";
      font-size: 6.5rem;

      .colon {
        display: inline-block;
        opacity: 1;
        transition: opacity 0.3s ease-in-out;
      }
    }

    .ampm {
      position: absolute;
      top: 1ch;
      right: -4ch;
      font-family: "RodinBokutohBold";
      font-size: 2rem;
    }
  }

  .date {
    font-family: "RodinBokutohBold";
    font-size: 3.5rem;
    font-weight: bold;
    color: #7a7a7a;
  }
}
