@use "styles.scss" as *;

.channel {
  vertical-align: bottom;
  pointer-events: none;
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(95%) drop-shadow(0 0 relativePx(3) var(--wiiBlue));

    use {
      stroke: var(--wiiBlue);
    }
  }

  use {
    pointer-events: all;

    &.isIntroSlide {
      filter: drop-shadow(0 0 relativePx(5) black);
    }
  }

  a {
    &:hover,
    &:active {
      cursor: inherit;
    }
  }

  --borderColor: #b4b4b4;

  .channelBorder {
    stroke: var(--borderColor);
  }

  text {
    font-size: 100px;
    font-family: "ShinGoBold";
    user-select: none;
  }

  // Override hover for other page's channels
  &.inactive {
    &:hover {
      filter: none !important;

      use {
        stroke: var(--borderColor) !important;
      }
    }
  }

  &.intro {
    opacity: 0;
    animation: fadeInOut
      calc(
        var(--introRippleFadeIn) + var(--introRippleHold) +
          var(--introRippleFadeOut)
      )
      ease-in-out forwards;
    --maxBrightness: 0.5;

    // CAREFUL
    // If you change the timing of any of the intro animations, make sure to update this keyframe
    @keyframes fadeInOut {
      0% {
        opacity: 0;
      }
      30% {
        opacity: var(--maxBrightness);
      } // ~3/6s fade in
      50% {
        opacity: var(--maxBrightness);
      } // ~2/6s hold
      100% {
        opacity: 0;
      } // ~5/6s fade out
    }
  }
}
