<svg
  class="channel"
  [class.inactive]="slideIndex !== slideService.currentSlideIndex() || isIntroSlide"
  [class.intro]="isIntroSlide"
  viewBox="0 0 1000 550"
  xmlns="http://www.w3.org/2000/svg"
  [style.animation-delay.ms]="introDelay"
>
  @if (!isIntroSlide && slideIndex === slideService.currentSlideIndex()) {
    <title [textContent]="channel.title"></title>
  }

  <defs>
    <path
      id="channelPath"
      d="M 500 544
          L 281 544
          C -14 540 10 564 6 275
          C 10 -14 -14 10 281 6
          L 719 6
          C 1014 10 990 -14 994 275
          C 990 564 1014 540 719 544
          Z
        "
    />

    @if (isImgPreview(channel.preview)) {
      <pattern [attr.id]="channel.id" patternUnits="userSpaceOnUse" width="1000" height="550">
        <image
          x="0"
          y="0"
          width="1000"
          height="550"
          [attr.href]="resolvedImg()"
          [attr.preserveAspectRatio]="resolvedPreserveAspectRatio()"
        />
      </pattern>
    }
  </defs>

  @if (channel.url && slideIndex === slideService.currentSlideIndex() && !isIntroSlide) {
    <a [attr.href]="channel.url" target="_blank" rel="noreferrer">
      <use class="channelBorder" href="#channelPath" stroke-width="12" [attr.fill]="resolvedBackgroundFill()" />
    </a>
  } @else {
    <use
      class="channelBorder"
      [ngClass]="{ isIntroSlide }"
      href="#channelPath"
      stroke-width="12"
      [attr.fill]="resolvedBackgroundFill()"
      [style.--borderColor]="isIntroSlide ? 'black' : ''"
    />
  }

  @if (isSvgPreview(channel.preview)) {
    <image
      x="50%"
      y="50%"
      [attr.width]="innerSvgDefaultSize * resolvedSvgScale()"
      [attr.height]="innerSvgDefaultSize * resolvedSvgScale()"
      [attr.transform]="
        `translate(${(innerSvgDefaultSize / -2) * resolvedSvgScale()},${(innerSvgDefaultSize / -2) * resolvedSvgScale()})`
      "
      [attr.href]="resolvedSvg()"
    />
  }

  @if (isTextPreview(channel.preview)) {
    <text
      x="50%"
      y="50%"
      text-anchor="middle"
      dominant-baseline="central"
      [attr.fill]="resolvedTextColor()"
      [textContent]="resolvedText()"
    />
  }
</svg>
