@use "styles.scss" as *;

.bottomShelfWrapper {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;

  .date {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-family: "RodinBokutohBold";
    justify-content: center;
    align-items: center;
    display: flex;
    font-weight: bold;
    color: #7a7a7a;
    width: max-content;
  }
}

app-corner-action-slot {
  position: absolute;

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}

@media (max-aspect-ratio: 50/100) {
  .bottomShelfWrapper {
    .date {
      transform: translateX(-50%) scale(80%);
    }
  }
}
