<div class="bottomShelfWrapper" [style.height.px]="shelfHeightPx">
  <div
    class="date"
    [textContent]="timeService.displayDate"
    [style.fontSize.px]="dateFontPx"
    [style.height.px]="dateBoxHeightPx"
    [style.top.px]="dateTopPx"
  ></div>
</div>

<app-corner-action-slot
  class="left"
  [isRight]="false"
  [style.bottom.px]="actionSlotBottomPx"
  [shelfHeightPx]="shelfHeightPx"
/>
<app-corner-action-slot
  class="right"
  [isRight]="true"
  [style.bottom.px]="actionSlotBottomPx"
  [shelfHeightPx]="shelfHeightPx"
/>
