<svg
  class="slideSvg"
  [attr.width]="displayService.totalWidth"
  [attr.height]="displayService.totalHeight"
  viewBox="0 0 1728 1152"
  preserveAspectRatio="xMidYMid meet"
  xmlns="http://www.w3.org/2000/svg"
>
  <defs>
    <pattern id="scanLines" patternUnits="userSpaceOnUse" width="9" height="9">
      <rect class="scanLineWhite" width="9" height="3" />
      <rect class="scanLineGray" y="3" width="9" height="6" />
    </pattern>

    <linearGradient id="scanLineGradient" x1="0%" y1="0%" x2="100%" y2="0%">
      <stop class="scanLineGradientEnd" offset="0%" />
      <stop class="scanLineGradientCenter" offset="45%" />
      <stop class="scanLineGradientCenter" offset="55%" />
      <stop class="scanLineGradientEnd" offset="100%" />
    </linearGradient>

    <clipPath id="aboveLineClip">
      <path [attr.d]="displayService.aboveLineClip" />
    </clipPath>

    <clipPath id="belowLineClip">
      <path [attr.d]="displayService.belowLineClip" />
    </clipPath>

    <filter
      id="borderShadowBlur"
      filterUnits="userSpaceOnUse"
      [attr.x]="-displayService.shadowOutsideExcess"
      [attr.y]="displayService.blueStartY - displayService.shadowOutsideExcess"
      [attr.width]="
        displayService.totalWidth + displayService.shadowOutsideExcess * 2
      "
      [attr.height]="
        displayService.totalHeight -
        displayService.blueStartY +
        displayService.shadowOutsideExcess * 2
      "
    >
      <feGaussianBlur stdDeviation="27" />
    </filter>

    <filter
      id="underShadowBlur"
      filterUnits="userSpaceOnUse"
      [attr.x]="-displayService.shadowOutsideExcess"
      [attr.y]="displayService.blueStartY - displayService.shadowOutsideExcess"
      [attr.width]="
        displayService.totalWidth + displayService.shadowOutsideExcess * 2
      "
      [attr.height]="
        displayService.totalHeight -
        displayService.blueStartY +
        displayService.shadowOutsideExcess * 2
      "
    >
      <feGaussianBlur stdDeviation="72" />
    </filter>
  </defs>

  <!-- group the scan lines and clip them -->
  <g clip-path="url(#aboveLineClip)">
    <rect width="100%" height="100%" fill="url(#scanLines)" />
    <rect width="100%" height="100%" fill="url(#scanLineGradient)" />
  </g>

  <path
    class="borderShadow"
    [attr.d]="displayService.borderShadow"
    filter="url(#borderShadowBlur)"
    clip-path="url(#belowLineClip)"
  />

  <path
    class="underShadow"
    [attr.d]="displayService.underShadow"
    filter="url(#underShadowBlur)"
    clip-path="url(#belowLineClip)"
  />

  <path
    class="blueBorderLine"
    [attr.d]="displayService.blueBorderLine"
    fill="none"
    stroke-width="4"
  />
</svg>

<div class="channelGrid">
  @for (channel of channels; track $index) {
    <app-channel [channel]="channel" [isInactiveSlide]="isInactiveSlide" />
  }
</div>

<app-clock></app-clock>
