.cornerBtn {
  --pressDistance: 2px;
  --shadowDistance: 15px;
  --shadowBlur: 3px;
  --shadowColor: rgba(0, 0, 0, 0.15);

  filter: drop-shadow(
    var(--shadowDistance) var(--shadowDistance) var(--shadowBlur)
      var(--shadowColor)
  );

  &.pressed {
    transform: translate(var(--pressDistance), var(--pressDistance));
    filter: drop-shadow(
      calc(var(--shadowDistance) - var(--pressDistance))
        calc(var(--shadowDistance) - var(--pressDistance)) var(--shadowBlur)
        var(--shadowColor)
    );
  }

  .actionButton {
    stroke: var(--wiiBlue);
  }
}
