@use "styles.scss" as *;

.slideDeckWrapper {
  position: relative;

  .slideDeckSvg,
  .slideDeck {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
  }

  .slideDeckSvg {
    pointer-events: none;

    --scanLineWhite: rgb(245, 245, 245);

    .blueBorderLinePath {
      stroke: var(--wiiBlue);
      fill: none;
      stroke-width: relativePx(4);
    }

    .borderShadowPath {
      fill: black;
      opacity: 12%;
    }

    .lowerShadowPath {
      fill: black;
      opacity: 12%;
    }

    .scanLineWhite {
      fill: var(--scanLineWhite);
    }

    .scanLineGray {
      fill: #e4e4e4;
    }

    .scanLineGradientEnd {
      stop-color: rgba(245, 245, 245, 0);
    }

    .scanLineGradientCenter {
      stop-color: var(--scanLineWhite);
    }
  }

  .slideDeck {
    display: flex;
  }

  .transitionEnabled {
    transition: transform var(--slideTransitionDuration) ease-in-out;
  }
}
