@use "styles.scss" as *;

.slideDeck {
  position: relative;
  display: flex;
  top: -50%;
}

.slideDeckSvg {
  --scanLineWhite: rgb(245, 245, 245);

  .blueBorderLine {
    stroke: var(--wiiBlue);
    fill: none;
    stroke-width: relativePx(4);
  }

  .borderShadow {
    fill: black;
    opacity: 12%;
  }

  .underShadow {
    fill: black;
    opacity: 12%;
  }

  .scanLineWhite {
    fill: var(--scanLineWhite);
  }

  .scanLineGray {
    fill: #e4e4e4;
  }

  .scanLineGradientEnd {
    stop-color: rgba(245, 245, 245, 0);
  }

  .scanLineGradientCenter {
    stop-color: var(--scanLineWhite);
  }
}

.transitionEnabled {
  transition: transform var(--slideTransitionDuration) ease-in-out;
}
