<div
  class="slideDeckWrapper"
  [style.width.px]="displayService.slideDeckWidth()"
  [style.height.px]="displayService.slideDeckHeight()"
>
  <svg
    class="slideDeckSvg"
    [ngClass]="{
      transitionEnabled: slideService.isAnimating(),
    }"
    [attr.width]="displayService.slideDeckSvgWidth()"
    [attr.height]="displayService.slideDeckHeight()"
    [attr.viewBox]="
      `0 0 ${displayService.slideDeckSvgWidth()} ${displayService.slideDeckHeight()}`
    "
    xmlns="http://www.w3.org/2000/svg"
    [style.transform]="slideDeckSvgTransform()"
  >
    <defs>
      <pattern
        id="scanLines"
        patternUnits="userSpaceOnUse"
        width="9"
        height="9"
      >
        <rect class="scanLineWhite" width="9" height="3" />
        <rect class="scanLineGray" y="3" width="9" height="6" />
      </pattern>

      <linearGradient
        id="scanLineGradientTile"
        gradientUnits="userSpaceOnUse"
        x1="0"
        y1="0"
        [attr.x2]="displayService.slideWidth()"
        y2="0"
      >
        <stop class="scanLineGradientEnd" offset="0%" />
        <stop class="scanLineGradientCenter" offset="45%" />
        <stop class="scanLineGradientCenter" offset="55%" />
        <stop class="scanLineGradientEnd" offset="100%" />
      </linearGradient>

      <pattern
        id="scanLineGradientRepeat"
        patternUnits="userSpaceOnUse"
        [attr.width]="displayService.slideWidth()"
        [attr.height]="displayService.slideWidth()"
        patternContentUnits="userSpaceOnUse"
        [attr.patternTransform]="
          `translate(${displayService.slideWidth() / 2},0)`
        "
      >
        <rect
          x="0"
          y="0"
          [attr.width]="displayService.slideWidth()"
          [attr.height]="displayService.slideWidth()"
          fill="url(#scanLineGradientTile)"
        />
      </pattern>

      <clipPath id="aboveLineClipPath">
        <path [attr.d]="displayService.aboveLineClipPath()" />
      </clipPath>

      <clipPath id="belowLineClipPath">
        <path [attr.d]="displayService.belowLineClipPath()" />
      </clipPath>

      <filter
        id="borderShadowBlur"
        filterUnits="userSpaceOnUse"
        [attr.x]="-displayService.shadowOutsideExcess()"
        [attr.y]="
          displayService.borderStartY() - displayService.shadowOutsideExcess()
        "
        [attr.width]="
          displayService.slideDeckWidth() +
          displayService.shadowOutsideExcess() * 2
        "
        [attr.height]="
          displayService.slideDeckHeight() -
          displayService.borderStartY() +
          displayService.shadowOutsideExcess() * 2
        "
      >
        <feGaussianBlur stdDeviation="27" />
      </filter>

      <filter
        id="underShadowBlur"
        filterUnits="userSpaceOnUse"
        [attr.x]="-displayService.shadowOutsideExcess()"
        [attr.y]="
          displayService.borderStartY() - displayService.shadowOutsideExcess()
        "
        [attr.width]="
          displayService.slideDeckWidth() +
          displayService.shadowOutsideExcess() * 2
        "
        [attr.height]="
          displayService.slideDeckHeight() -
          displayService.borderStartY() +
          displayService.shadowOutsideExcess() * 2
        "
      >
        <feGaussianBlur stdDeviation="72" />
      </filter>
    </defs>

    <g clip-path="url(#aboveLineClipPath)">
      <rect width="100%" height="100%" fill="url(#scanLines)" />
      <rect width="100%" height="100%" fill="url(#scanLineGradientRepeat)" />
    </g>

    <path
      class="borderShadowPath"
      [attr.d]="displayService.borderShadowPath()"
      filter="url(#borderShadowBlur)"
      clip-path="url(#belowLineClipPath)"
    />

    <path
      class="lowerShadowPath"
      [attr.d]="displayService.lowerShadowPath()"
      filter="url(#underShadowBlur)"
      clip-path="url(#belowLineClipPath)"
    />

    <path
      class="blueBorderLinePath"
      [attr.d]="displayService.blueBorderLinePath()"
    />
  </svg>

  <div
    class="slideDeck"
    [ngClass]="{
      transitionEnabled: slideService.isAnimating(),
    }"
    [style.width.px]="displayService.slideDeckWidth()"
    [style.height.px]="displayService.slideDeckHeight()"
    [style.transform]="slideDeckTransform()"
  >
    @for (channels of slideService.slideDeck(); track $index) {
      <div
        class="slide"
        [ngClass]="{
          inactiveSlide: $index !== slideService.currentSlideIndex(),
        }"
        [style.width.px]="displayService.slideWidth()"
        [style.height.px]="displayService.slideDeckHeight()"
      >
        <app-slide
          [channels]="channels"
          [slideIndex]="$index"
          [isIntroSlide]="false"
        />
      </div>
    }
  </div>
</div>
