@use "styles.scss" as *;

.actionButton {
  --shadowDistance: 0; // Calculated in TS

  --pressDistance: 3px;
  --shadowBlur: 3;
  --shadowColor: rgba(0, 0, 0, 0.15);

  height: auto;

  filter: drop-shadow(
    relativePx(var(--shadowDistance)) relativePx(var(--shadowDistance))
      relativePx(var(--shadowBlur)) var(--shadowColor)
  );

  &.pressed {
    transform: translate(var(--pressDistance), var(--pressDistance));
    filter: drop-shadow(
      calc(relativePx(var(--shadowDistance)) - var(--pressDistance))
        calc(relativePx(var(--shadowDistance)) - var(--pressDistance))
        relativePx(var(--shadowBlur)) var(--shadowColor)
    );
  }

  .actionButtonCircle {
    stroke: var(--wiiBlue);
  }

  text {
    letter-spacing: 0.17rem;
    font-family: "ContinuumBold";
    user-select: none;

    tspan {
      white-space: pre;
    }
  }

  .settingsCog {
    transform-box: fill-box;
    transform-origin: center;

    animation: spin 60s linear infinite;
  }

  @keyframes spin {
    100% {
      transform: rotate(360deg);
    }
  }
}

@media (hover: none) and (pointer: coarse) {
  .actionButton,
  .actionButton *,
  app-corner-action-button,
  app-corner-action-slot {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    user-select: none;
    touch-action: manipulation;
  }
}
