.content {
  flex: auto;
  position: relative;
  overflow: hidden;

  .page {
    position: absolute;
    top: 75%;
    left: 50%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--channelGap);
    transition: transform var(--pageTransitionDuration) ease-in-out;
  }
}

.footer {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  height: var(--relative-height);
  background-image: url("assets/footer.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 100%;
}
