.channel {
  width: calc(420 / 1152 * 100vh); // relative scaling for smaller viewing
  height: auto;
  vertical-align: bottom;
  pointer-events: none;
  transition: filter 0.2s ease;
  pointer-events: all;

  &:hover {
    filter: brightness(95%) drop-shadow(0 0 3px var(--wiiBlue));

    use {
      stroke: var(--wiiBlue);
    }
  }

  a {
    &:hover,
    &:active {
      cursor: inherit;
    }
  }

  --borderColor: #b4b4b4;

  .channelBorder {
    stroke: var(--borderColor);
  }

  text {
    font-size: 100px;
    font-family: "ShinGoBold";
    user-select: none;
  }

  // Override hover for other page's channels
  &.inactive {
    &:hover {
      filter: none !important;

      use {
        stroke: var(--borderColor) !important;
      }
    }
  }
}
