.channel {
  width: 365px;
  height: auto;
  vertical-align: bottom;
  pointer-events: none;
  transition: filter 0.2s ease;

  &:hover {
    filter: brightness(95%) drop-shadow(0 0 3px #34beed);

    use {
      stroke: #34beed;
    }
  }

  use {
    pointer-events: all;
  }

  a {
    &:hover,
    &:active {
      cursor: inherit;
    }
  }

  text {
    font-size: 100px;
    font-family: "ShinGoBold";
    user-select: none;
  }

  // Override hover for inactive channels
  &.inactive {
    &:hover {
      filter: none !important;

      use {
        stroke: #b4b4b4 !important;
      }
    }
  }
}
