<app-slide-deck />

<!-- Specifically ngClass for render timing purposes -->
<img
  src="assets/arrow.svg"
  ngClass="arrow left"
  [class.visible]="slideService.canSlideLeft()"
  (click)="slideService.prevSlide()"
  aria-label="Left Arrow"
  alt="Left Arrow"
/>
<img
  src="assets/arrow.svg"
  ngClass="arrow right"
  [class.visible]="slideService.canSlideRight()"
  (click)="slideService.nextSlide()"
  aria-label="Right Arrow"
  alt="Right Arrow"
/>

@if (!isIntroComplete) {
  <div class="intro" [style.animation-delay.ms]="introFadeOutDelayMs">
    <app-slide [channels]="introChannels" [slideIndex]="1" [isIntroSlide]="true" />
  </div>
}
