@use "styles.scss" as *;

.timeWrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: #919191;

  .timeCore {
    display: flex;
    font-family: "DigitalDisplay";
    font-size: calc(#{relativePx(136)} * var(--clockScaleFactor));
    padding-inline-start: 3.3%;

    .hours,
    .minutes {
      width: 2ch;
      text-align: end;
    }

    .colon {
      display: inline-block;
      width: 1ch;
      text-align: center;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      &.hideColon {
        opacity: 0;
      }
    }
  }

  .amPm {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "RodinBokutohBold";
    font-size: calc(#{relativePx(40)} * var(--clockScaleFactor));
    line-height: calc(#{relativePx(32)} * var(--clockScaleFactor));
  }
}

@media (max-aspect-ratio: 85/100) {
  .amPm {
    visibility: hidden;
  }
}
