/* src/styles.scss */
@font-face {
  font-family: "ShinGoBold";
  src: local("ShinGoBold"), url("./media/ShinGoBold-YCKH34W4.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "RodinBokutohBold";
  src: local("RodinBokutohBold"), url("./media/RodinBokutohBold-6PLTELS7.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "RodinBokutohDemiBold";
  src: local("RodinBokutohDemiBold"), url("./media/RodinBokutohDemiBold-A6DUMLVH.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "DigitalDisplay";
  src: local("DigitalDisplay"), url("./media/DigitalDisplay-PRZZRIZC.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "ContinuumBold";
  src: local("ContinuumBold"), url("./media/ContinuumBold-42XKIOEQ.otf") format("opentype");
  font-weight: bold;
}
:root {
  --wiiBlue: #31c1ed;
  --channelDefaultBorderColor: #b4b4b4;
  --designHeight: 1152;
  --scanLineWhite: rgb(245, 245, 245);
  --arrowsPercentFromTop: 34.5%;
  --stageWidth: min(100dvw, calc(100dvh * 16 / 9));
  --bodyGradient:
    linear-gradient(
      to bottom,
      var(--scanLineWhite) 40%,
      #c6c8cc 60%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html,
body {
  margin: 0;
  padding: 0;
  background: var(--bodyBackground, black);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
  cursor: url("./media/wii_pointer-SM7NMZVH.cur") 11 3, auto;
}
html:active,
body:active {
  cursor: url("./media/wii_click-UQY5DVIK.cur") 11 3, auto;
}
html.paused-animations *,
body.paused-animations * {
  animation-play-state: paused !important;
  transition: none !important;
}
app-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* angular:styles/global:styles */
