/* Global styles and font imports */
@font-face {
  font-family: "ShinGoBold";
  src:
    local("ShinGoBold"),
    url("./app/assets/fonts/ShinGo/ShinGoBold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "RodinBokutohBold";
  src:
    local("RodinBokutohBold"),
    url("./app/assets/fonts/RodinBokutoh/RodinBokutohB.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "DigitalDisplay";
  src:
    local("DigitalDisplay"),
    url("./app/assets/fonts/DigitalDisplay/digital-display.otf")
      format("opentype");
  font-weight: normal;
}

html {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  margin: 0;
  flex-grow: 1;

  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: repeating-linear-gradient(
    #f5f5f5,
    #f5f5f5 3px,
    #e4e4e4 3px,
    #e4e4e4 9px
  );

  cursor:
    url(./app/assets/wii_pointer.cur) 11 3,
    auto;

  &:active {
    cursor:
      url(./app/assets/wii_click.cur) 11 3,
      auto;
  }
}

app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  user-select: none;

  background-image: linear-gradient(
    to right,
    #f4f4f400,
    #f4f4f4 50%,
    #f4f4f400 100%
  );
}

:root {
  --relative-height: 27vh;
  --channelGap: 12px;
  --pageTransitionDuration: 0.6s;
}
