@font-face {
  font-family: "ShinGoBold";
  src:
    local("ShinGoBold"),
    url("./app/assets/fonts/ShinGo/ShinGoBold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "RodinBokutohBold";
  src:
    local("RodinBokutohBold"),
    url("./app/assets/fonts/RodinBokutoh/RodinBokutohBold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "RodinBokutohDemiBold";
  src:
    local("RodinBokutohDemiBold"),
    url("./app/assets/fonts/RodinBokutoh/RodinBokutohDemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "DigitalDisplay";
  src:
    local("DigitalDisplay"),
    url("./app/assets/fonts/DigitalDisplay/DigitalDisplay.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "ContinuumBold";
  src:
    local("ContinuumBold"),
    url("./app/assets/fonts/Continuum/ContinuumBold.otf") format("opentype");
  font-weight: bold;
}

:root {
  --wiiBlue: #31c1ed;
  --channelDefaultBorderColor: #b4b4b4;
  --designHeight: 1152;
  --scanLineWhite: rgb(245, 245, 245);
  --arrowsPercentFromTop: 34.5%;

  --stageWidth: min(100dvw, calc(100dvh * 16 / 9));
  --bodyGradient: linear-gradient(to bottom, var(--scanLineWhite) 40%, #c6c8cc 60%);

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@function relativePx($n) {
  @return calc(#{$n} / var(--designHeight) * 100dvh);
}

html,
body {
  margin: 0;
  padding: 0;
  background: var(--bodyBackground, black);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;

  cursor:
    url(./app/assets/wii_pointer.cur) 11 3,
    auto;

  &:active {
    cursor:
      url(./app/assets/wii_click.cur) 11 3,
      auto;
  }

  &.paused-animations * {
    animation-play-state: paused !important;
    transition: none !important;
  }
}

app-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
