@font-face {
  font-family: "ShinGoBold";
  src:
    local("ShinGoBold"),
    url("./app/assets/fonts/ShinGo/ShinGoBold.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "RodinBokutohBold";
  src:
    local("RodinBokutohBold"),
    url("./app/assets/fonts/RodinBokutoh/RodinBokutohB.otf") format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "DigitalDisplay";
  src:
    local("DigitalDisplay"),
    url("./app/assets/fonts/DigitalDisplay/DigitalDisplay.otf") format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "ContinuumBold";
  src:
    local("Continuum"),
    url("./app/assets/fonts/Continuum/ContinuumB.otf") format("opentype");
  font-weight: bold;
}

:root {
  --slideTransitionDuration: 400ms;
  --wiiBlue: #31c1ed;
  --originalHeight: 1152;

  --stageWidth: min(100dvw, calc(100dvh * 16 / 9));

  --introStartDelay: 500ms;
  --introRippleStepDelay: 100ms; // time between diagonals
  --introRippleFadeIn: 500ms;
  --introRippleHold: 333ms;
  --introRippleFadeOut: 833ms;
  --introEndDelay: 833ms; // delay after last channel fade
  --introFadeOut: 333ms;
}

@function relativePx($n) {
  @return calc(#{$n} / var(--originalHeight) * 100dvh);
}

html,
body {
  margin: 0;
  padding: 0;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;

  cursor:
    url(./app/assets/wii_pointer.cur) 11 3,
    auto;

  &:active {
    cursor:
      url(./app/assets/wii_click.cur) 11 3,
      auto;
  }

  &.paused-animations * {
    animation-play-state: paused !important;
    transition: none !important;
  }
}

#stage {
  position: relative;
  width: min(100dvw, calc(100dvh * 16 / 9));
  height: 100dvh;
  aspect-ratio: 16 / 9;
  z-index: 0;
  display: flex;
  flex-direction: column;
}

app-root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  user-select: none;
  background-color: #dddfe3;
}
