@use "styles.scss" as *;

.actionSlot {
  height: auto;

  &.isRight {
    transform: scaleX(-1);

    .darkPath {
      transform: translateX(-8%);
    }
  }
}

app-corner-action-button {
  position: absolute;
  top: 9%;

  --actionButtonOffset: 12%;

  &.left {
    right: var(--actionButtonOffset);
  }

  &.right {
    left: var(--actionButtonOffset);
  }
}

@media (max-aspect-ratio: 73/100) {
  .actionSlot {
    opacity: 0;
  }

  app-corner-action-button {
    top: 12%;

    --actionButtonOffset: 3dvw;

    &.left {
      right: unset;
      left: var(--actionButtonOffset);
    }

    &.right {
      left: unset;
      right: var(--actionButtonOffset);
    }
  }
}

@media (max-aspect-ratio: 40/100) {
  app-corner-action-button {
    --actionButtonOffset: 1dvw;
  }
}
